<% if @answer %>
  $('.answers').append('<%= j render @answer %>');
<% end %>
<% if @errors %>
  $('form').prepend('<div class="ajax-error"><%= @errors.join('; ') %></div>');
  $('.ajax-error').fadeOut(5000);
<% end %>
